
/*Mobile devices*/
@media only screen and (max-width: 425px) {

    /*Meta*/
    .meta {
        flex-direction: column;
    }

    .meta span {
        border: none;
        line-height: 28px;
    }

    .meta::after {
        height: 1px;
        background-color: #ddd;
        display: block;
        width: 150px;
        content: '';
        margin-top: 25px;
    }

}
